<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <link rel="stylesheet" href="/css/google-maps.css" />
    <script type="text/javascript" src="/js/google_maps.js"></script>
</head>
<body>
    <h4>Report a road problem by marking the problem's location on the map and other mandatory details</h4>
    <div class="container-fluid">
        <form>
            <div class="form-row mb-3">
                <div id="map"></div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="lat" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="lat" disabled />
                </div>
                <div class="col-6">
                    <label for="lng" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="lng" disabled />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" disabled />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="severity" class="form-label">Severity Level</label>
                    <select class="form-select" id="severity">
                        <option value="" selected disabled hidden>Choose the problem's severity level</option>
                        <option value="Minor">Minor severity</option>
                        <option value="Medium">Medium severity</option>
                        <option value="Major">Major severity</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="image" class="form-label">Problem Picture</label>
                    <input type="file" class="form-control" id="image" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-dark">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8lkA7jpB7VvGcIh7IUQZBmJ4tqGQ7hGA&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>
